* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  position: sticky;
  top: 0px;
  padding-top: 8px;
  padding-bottom: 20px;
  backdrop-filter: blur(5px);
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.nav > li > a {
  color: #adb5bd;
  font-weight: 600;
  transition: transform 0.6s;
}

.nav > li > a:hover {
  color: #fca311;
  transform: translateY(-10px);
  transform: scale(1.3);
  border: 1.2px solid #fca311;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50%;
  backdrop-filter: blur(20px);
  border-radius: 250px;
  box-shadow: 10px 10px 10px black;
}

.front-page > img {
  width: 300px;
  border-radius: 50% 30% 35% 40%;
  border: 10px solid #d62246;
}

.front-page {
  height: 100vh;
  width: 180vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d62246;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  width: fit-content;
}

.P-languages {
  display: flex;
  margin: 30px;
  justify-content: space-around;
  height: 100px;
}

.logos {
  text-align: center;
  background-clip: content-box;
  align-items: center;
  width: 250px;
  height: 250px;
}

.logos > p {
  font-size: larger;
  font-weight: 700;
  color: #adb5bd;
}

.logos > img {
  width: 200px;
  height: 200px;
  background-clip: content-box;
  transition: transform 1.5s;
  transition-delay: 0.5;
}

.logos > img:hover {
  transform: translateY(-15px) rotateY(360deg);
}
.for-space {
  width: 100%;
  height: 200px;
}

.project-section {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#projects > p {
  text-transform: uppercase;
  color: #8d99ae;
  font-size: 60px;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.works {
  margin: 20px;
  width: 250px;
  height: 320px;
  background-color: #01161e;
  border-radius: 20px;
}

.works > img {
  margin: 5px;
  margin-top: 10px;
  border-radius: 15px;
  width: 220px;
  height: 150px;
}

.works > h4 {
  color: #d62246;
  text-transform: uppercase;
}

.works > button {
  background-image: linear-gradient(to right, #c9184a, #ff8fa3,#ff4d6d);
  background-size: 100% 100%;
  background-position: 0% 0%;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.autoshow {
  animation: autoshowContent both;
  animation-timeline: view(70% 5%);
}

@keyframes autoshowContent {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
  85% {
    top: -15rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f1faee;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}
